<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5bfec4cf-1bd4-4cd0-ac49-12f398c1ca34" Alias="eventListPage" Level="1">
  <Info>
    <Name>Event List Page</Name>
    <Icon>icon-search color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>EventListPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b9994ce0-ff05-475c-a12c-91d6745c4400">EventListPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="36e7cee1-92a9-49a8-816d-d5be103042e3" SortOrder="0">eventPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>