<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7aa2a163-c18e-4bc8-af01-d0cfc3b711de" Alias="homePage" Level="1">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="7e2849f3-fee5-4e8f-aaa5-073e9efb6548">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="5bfec4cf-1bd4-4cd0-ac49-12f398c1ca34" SortOrder="0">eventListPage</ContentType>
    <ContentType Key="84c1e7ba-3ab2-4d05-846d-7868505f91be" SortOrder="1">accessDeniedPage</ContentType>
    <ContentType Key="66b940f3-e419-4af9-b875-50789f9545f5" SortOrder="2">registration</ContentType>
    <ContentType Key="3cea03fd-14ef-45d3-876b-39a7ae0aaf8e" SortOrder="3">loginPage</ContentType>
    <ContentType Key="8ff5006e-8e9f-4c8a-b366-244305c7774c" SortOrder="4">eventAttendeeListPage</ContentType>
    <ContentType Key="1dd64505-29b6-43b3-b990-834ca7f52619" SortOrder="5">myEventsPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>83812204-487c-4ab0-bf3b-cb7da3ed4f40</Key>
      <Name>Welcome</Name>
      <Alias>welcome</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b61b0d9b-35df-4be2-a2c7-01e3169222ed</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>