<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3cea03fd-14ef-45d3-876b-39a7ae0aaf8e" Alias="loginPage" Level="1">
  <Info>
    <Name>Login Page</Name>
    <Icon>icon-keychain color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>LoginPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b6478117-0f6f-4691-b987-04e08500bdca">LoginPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>