<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1dd64505-29b6-43b3-b990-834ca7f52619" Alias="myEventsPage" Level="1">
  <Info>
    <Name>My Events Page</Name>
    <Icon>icon-calendar-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>MyEventsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="f33c736d-e11e-4a46-8a24-63235b3dc3d0">MyEventsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>