<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="66b940f3-e419-4af9-b875-50789f9545f5" Alias="registration" Level="1">
  <Info>
    <Name>Registration</Name>
    <Icon>icon-page-add color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f4201ec7-eba4-4af7-8e50-5a2773ab0af0</Key>
      <Name>Event</Name>
      <Alias>event</Alias>
      <Definition>63b54624-1755-453e-b7d4-68c8a841a706</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="registration">Registration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>3ff643fc-adf0-4667-8526-f1f1b4bf8e4c</Key>
      <Name>Member</Name>
      <Alias>member</Alias>
      <Definition>1ea2e01f-ebd8-4ce1-8d71-6b1149e63548</Definition>
      <Type>Umbraco.MemberPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="registration">Registration</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>70ae9d01-dca6-4d5c-aaaa-1d6c2bdf2dd8</Key>
      <Caption>Registration</Caption>
      <Alias>registration</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>