<?xml version="1.0" encoding="utf-8"?>
<Content Key="b25c7e21-5998-44aa-bcb1-cf1623ccbe8e" Alias="Events" Level="2">
  <Info>
    <Parent Key="30d1f63d-107a-4371-938d-45b1fe08b47c">Home</Parent>
    <Path>/Home/Events</Path>
    <Trashed>false</Trashed>
    <ContentType>eventListPage</ContentType>
    <CreateDate>2022-04-06T21:36:13</CreateDate>
    <NodeName Default="Events" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b9994ce0-ff05-475c-a12c-91d6745c4400">EventListPage</Template>
  </Info>
  <Properties />
</Content>