<?xml version="1.0" encoding="utf-8"?>
<Content Key="30d1f63d-107a-4371-938d-45b1fe08b47c" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2022-04-06T21:35:57</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="7e2849f3-fee5-4e8f-aaa5-073e9efb6548">HomePage</Template>
  </Info>
  <Properties>
    <welcome>
      <Value><![CDATA[Roar with Us!]]></Value>
    </welcome>
  </Properties>
</Content>