<?xml version="1.0" encoding="utf-8"?>
<Content Key="3b7f6e07-8606-451d-918c-369c4eeb4ae0" Alias="Three Hour Tour" Level="3">
  <Info>
    <Parent Key="b25c7e21-5998-44aa-bcb1-cf1623ccbe8e">Events</Parent>
    <Path>/Home/Events/ThreeHourTour</Path>
    <Trashed>false</Trashed>
    <ContentType>eventPage</ContentType>
    <CreateDate>2022-04-06T21:39:02</CreateDate>
    <NodeName Default="Three Hour Tour" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="517c9532-a907-495a-9c89-77cdc03fac8d">EventPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[<p>An opportunity to hear a tale of a fateful trip.  It started from these rocky shores, aboard this tiny ship.</p>]]></Value>
    </description>
    <endDate>
      <Value><![CDATA[2022-04-01T13:00:00]]></Value>
    </endDate>
    <image>
      <Value><![CDATA[[
  {
    "key": "b44c9b52-f32d-476d-98f2-4c6644a42fe1",
    "mediaKey": "6e6804c1-63da-4a12-8fea-64665d31decf"
  }
]]]></Value>
    </image>
    <location>
      <Value><![CDATA[Gilligan's Island]]></Value>
    </location>
    <startDate>
      <Value><![CDATA[2022-04-01T10:00:00]]></Value>
    </startDate>
    <topic>
      <Value><![CDATA[Seeing the islands]]></Value>
    </topic>
  </Properties>
</Content>